[*.cs]

# IDE0040: Add accessibility modifiers
dotnet_style_require_accessibility_modifiers = for_non_interface_members:none

# CS0108: Member hides inherited member; missing new keyword
dotnet_diagnostic.CS0108.severity = silent

# IDE1006: Naming Styles
dotnet_diagnostic.IDE1006.severity = none

# IDE0044: Add readonly modifier
dotnet_style_readonly_field = false:suggestion
